<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Racer - Crystal</title>
  </head>

  <script type="text/javascript" src="/js/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/index.css">

  <body>
    <header>
      <div>
        <h2 class="center-align">Welcome to Racer!</h2>
      </div>
    </header>

    <main>
      <div class="center-align">
        <a class="waves-effect grey btn", onclick="create_room();">Create a game room</a>
      </div>
    </main>

    <footer class="page-footer grey darken-4">
      <div class="footer-copyright grey darken-4">
        <div class="container">
          <a class="grey-text text-lighten-4 right" href="#!">Made with ❤ by Amit Katz and Crystal</a>
        </div>
      </div>
    </footer>

  </body>
</html>
