<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Racer - Crystal</title>
  </head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style type="text/css">
    body {
      background-color: #212121;
      color: white;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }
  </style>
  <body>
    <header>
      <div>
        <h2 class="center-align">Welcome to Racer!</h2>
      </div>
    </header>

    <main>
      
    </main>

    <footer class="page-footer grey darken-4">
      <div class="footer-copyright grey darken-4">
        <div class="container">
          <a class="grey-text text-lighten-4 right" href="#!">Made with ❤ by Amit Katz and Crystal</a>
        </div>
      </div>
    </footer>
  </body>
</html>
